

# Falken
venv/
#*.sqlite3

# IDE folders
# Mac
.DS_Store
# Visual Studio Code
.vscode
# Pycharm
.idea/

##########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


